<form action="/payment/results">
  <div>
    <label for="apr">APR</label>
    <input id="apr" type="integer" placeholder="Ex. 5.42%" name="apr_input">
  </div>
  <div>
    <label for="number_of_periods">Number of Years</label>
    <input id="number_of_periods" type="integer" placeholder="How many years to repay?" name="periods_input">
  </div>
  <div>
    <label for="principal">Principal</label>
    <input id="principal" type="integer" placeholder="How much principal?" name="principal_input">
  </div>
  <button>Calculate Monthly Payment</button>

</form>
