<form action="/random/results">
  <div>
    <label for="min">Minimum</label>
    <input id="min" type="text" placeholder="E.g 1.5" name="min_input">
  </div> 
  <div>
    <label for="max">Minimum</label>
    <input id="max" type="text" placeholder="E.g 4.5" name="max_input">
  </div> 

  <button>Pick Random Number</button>

</form>
