<h1> Enter a Number </h1>

<form action="application">
  
  <label for="first">Enter a Number</label>
  <input id="first" type="text" placeholder="What do you want to square?" name="  ">
    
    <button>Calculate Square</button>

</form>
