<form action="/square_root/results">
  <div>
  <label for="first_calculation">Enter a Number</label>
  <input id="first_calculation" type="text" placeholder="What do you want to square?" name="user_input">
  </div>
    <button>Calculate Squareroot</button>

</form>
