<form action="/square/results">
  <div>
  <label for="first_calculation">Enter a number</label>
  </div>
  <input id="first_calculation" type="text" placeholder="What do you want to square?" name="user_input">
    
    <button>Calculate Square</button>

</form>
